
body {
  background-color: #242325;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #242325;
}


::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #f39b6d 0%, #8390fa 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 100px;
}
.custom-navbar {
  background-color: transparent;
  backdrop-filter: blur(10px);
  position: relative;
  padding: 15px 0;
  text-align: right;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-icon {
  margin-left: 100px;
  float: left;
}

.nav-item {
  display: inline-block;
  margin-right: 60px;
}

.nav-item a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.3s ease-in-out;
}

.nav-item a:hover {
  color: #657ED4;
}

.container {
  margin-left: 150px;
  margin-top: 175px;
}
.container h1 {
  font-size: 60px;
}
.container p {
  font-size: 30px;
  margin-top: 20px;
}

.add-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  color: #3498db;
  border: 2px solid #3498db;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.3s ease-in-out;
}

.add-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #3498db;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

.add-button:hover {
  color: white;
}

.add-button:hover::before {
  left: 0;
}


.add-button:hover::before {
  left: 0;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
  margin-top: auto;
}
.contact img {
  margin-right: 10px;
}